*{

    margin: 0px;
    padding:0px;
    list-style: none
}

body{
    font-family: Arial, Helvetica, sans-serif;  
}
header{
    background-image: url("./Imagenes/auto-BMW.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    background-position:center;
    color: white;
    position: relative;    
    background-attachment: fixed;

}
header::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 200px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 43%, rgba(255,255,255,1)87%);
    opacity: 1.5;
}


.LogoBMW{
    height: 70px;
    width: 75px;
}

.ul_left{
    display: flex;
    gap: 30px;
   
}

.ul_right{
    gap: 30px;
    
}

nav{
    display: flex;
    align-items: center;    
}

.navPrincipal{
    justify-content: space-between;  
    border-bottom: solid 1px antiquewhite;      
    width: 80%;
    margin: auto;
}

h6{
    background-color: white;
    color: black;
    padding: 0px 3px;
    font-size: 7px;
}

.Textoimagen{
    position: absolute;
    bottom: 0;
    margin: 60px;
    padding-bottom: 20px;
}



button{
    padding: 4px;
    width: 282px;
    margin: 10px 0px;
    background-color: rgb(23, 107, 239);
    border: none;
    color: white;
    height: 29px;
}

.Cuerpo2{              
    justify-content: center; 
    width: 80%;
    margin: auto;
}

.H2Cuerpo{
    color:rgb(193, 193, 193);
    font-size: 12px;
    font-weight: 600;
    padding: 15px 29px;
    border-bottom: 2px solid rgb(193, 193, 193);
    width: 1%;
    margin-bottom: 20px;
    text-align: center;
    margin-block-start: 0%;
}
.li-2{
    display: flex;
    gap: 7%;
    justify-content: center;
    color: rgba(101, 101, 101, 0.551);
    
}

#miLista {
    border-bottom: 4px solid rgb(193, 193, 193);;
    padding-right: 5px;
    padding-left: 5px;
 
  }

#miLista li:hover {
    border-bottom: 4px solid blue;
    padding-right: 5px;
    padding-left: 5px;
    color: black;
    font-size: 20px;
    font-weight: 600;
  }

.TotalAutos{
    display: flex;
}

.Autos{
    width: 25%;    
}

.ImagenesAuto{    
    height: 8rem;    
}

.Li-precios{
    color: gray;
    font-size: 10px;
    padding-bottom: 15px;
}

.li-confiExplor{
    font-size: 10px;
    font-weight: 800;
}

.ArticuloAutos{
    display: flex;
    margin: 90px 0px;      
    justify-content: space-between;  
}

.InfoAuto{
    width: 22%;
    border: solid 1px;
    border-color: rgb(238, 237, 237);
    padding: 10px    
}    

.Video{
    justify-content: space-between;
    border: solid 1px;
    width: 48%;
    border-color: rgb(238, 237, 237);;
}

.Opciones{
    display: flex;
    gap: 2%;
}

.CadaOpcion{
    width: 25%;
    background-color: rgb(238, 237, 237);;
    align-items: center;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.InfoContacto{
    
    background-color: rgb(238, 237, 237);
    width: auto;    
    height: 400px;    
    font-size: 12px;
    margin: 60px 0px;
    justify-content: center;
    align-items: center;  
    display: flex;  
}    


.totalFooter{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto;
    font-size: 12px;
    padding: 10px 0px;
}
    
.UlLi-der{
    display: flex;
    gap: 40px;
    color: rgb(23, 107, 239);
}

.h5Articulo{
    font-size: 31px;
    padding: 12px 0px;
}

.TituloFooter{
    font-size: 15px;
    font-weight: 600;
    margin: 10px 0px;
}

.ImagenesAuto2{
    width: 100%;

}

.ContactoMargen{
    margin: 15px 0px;
    font-weight: 600;
}

.linea{
    width: 70%;
    margin: auto;
    border-top: solid 3px rgb(214, 214, 214);
    display: flex;    
    gap: 15%;
    padding-top: 50px;
}
    
    
  